In [8]:
from trino.dbapi import connect

#prod:102.207.250.54:8091
# Step 1: Connect to Trino
conn = connect(
    host='102.207.250.54',
    port=8091,
    user='admin'
)
cursor = conn.cursor()

In [25]:

try:
    # Step 2: List catalogs
    print("üîé Available catalogs:")
    cursor.execute("SHOW CATALOGS")
    catalogs = cursor.fetchall()
    for cat in catalogs:
        print(f" - {cat[0]}")



    # Step 4: List schemas in iceberg
    print("\nüîé Schemas in iceberg:")
    cursor.execute("SHOW SCHEMAS FROM iceberg")
    schemas = cursor.fetchall()
    for schema in schemas:
        print(f" - {schema[0]}")

    # Step 5: List tables from default schema
    print("\nüîé Tables in iceberg.default:")
    cursor.execute("SHOW TABLES FROM iceberg.processed")
    tables = cursor.fetchall()
    for table in tables:
        print(f" - {table[0]}")

except Exception as e:
    print("‚ùå Failed to connect or query Trino:")
    print(e)

üîé Available catalogs:
 - iceberg
 - system

üîé Schemas in iceberg:
 - information_schema
 - processed

üîé Tables in iceberg.default:

In [24]:
cursor.execute("CREATE SCHEMA iceberg.processed WITH (location = 's3a://asel/processed')")
print("‚úÖ Schema 'processed' created.")

‚úÖ Schema 'processed' created.

create processed iceberg tables

In [26]:
cursor.execute("""CREATE TABLE iceberg.processed.roles (
  id VARCHAR,
  id_user VARCHAR,
  role VARCHAR,
  parent_id VARCHAR,
  first_seen_date TIMESTAMP(6),
  ingestion_date TIMESTAMP(6),
  transformation_date TIMESTAMP(6),
  source_system VARCHAR,
  is_valid BOOLEAN,
  comment VARCHAR
)
WITH (
  format = 'PARQUET',
  location = 's3://asel/processed/roles'
)
"""
)
print("table roles created !")

table roles created !

In [4]:
print("=== Verifying  table ===")
cursor.execute("SELECT * FROM iceberg.processed.transactionsssss LIMIT 30")
rows = cursor.fetchall()

for row in rows:
    print(row)

=== Verifying  table ===
['66eb165bf805b2a6da723661', '642c05c802948a0ce2108cde', '642c34a702948a0ce210bfea', 100.0, datetime.datetime(2024, 9, 18, 18, 5, 15), datetime.datetime(2024, 9, 18, 18, 5, 15), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb1667f805b2a6da723674', '642c05c802948a0ce2108cde', '642c36bc02948a0ce210c32a', 100.0, datetime.datetime(2024, 9, 18, 18, 5, 27), datetime.datetime(2024, 9, 18, 18, 5, 27), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb1695e33bc539d87c2516', '642c3e6902948a0ce210cd8d', '642c3ec502948a0ce210cdfb', 100.0, datetime.datetime(2024, 9, 18, 18, 6, 13), datetime.datetime(2024, 9, 18, 18, 6, 13), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb18d3f805b2a6da723a47', '63f375624e04c60188c762ca', '64e86a72b9858b06eeb92633', 100.0, datetime.datetime(2024, 9, 18, 18, 15, 47), datetime.datetime(2024, 9, 18, 18, 15, 47), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb1971e33bc539d87c2924', '64ec63c3cc83888fe1297e94', '6492db1ded4306f9def297b7', 100.0, datetime.datetime(2024, 9, 18, 18, 18, 25), datetime.datetime(2024, 9, 18, 18, 18, 25), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb1be2533c440f40ff6805', '63d02eda382ff90dda7f8f3f', '63da6c82382ff90dda80a9d9', 100.0, datetime.datetime(2024, 9, 18, 18, 28, 50), datetime.datetime(2024, 9, 18, 18, 28, 50), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb1de6f805b2a6da72421f', '63c97183382ff90dda7f3f14', '63ff0c5093d7fbc65a016dd1', 500.0, datetime.datetime(2024, 9, 18, 18, 37, 26), datetime.datetime(2024, 9, 18, 18, 37, 26), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb1f5c05a257f9a2568baa', '6401e05d93d7fbc65a0284ba', '64dc98c2fdcf1814901a865d', 100.0, datetime.datetime(2024, 9, 18, 18, 43, 40), datetime.datetime(2024, 9, 18, 18, 43, 40), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb232305a257f9a25690c8', '650ace9fda161d08d01613e2', '64e4a56ecc83888fe12690e8', 200.0, datetime.datetime(2024, 9, 18, 18, 59, 47), datetime.datetime(2024, 9, 18, 18, 59, 47), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb23e205a257f9a25691a2', '63ff0c5093d7fbc65a016dd1', '6401e2d193d7fbc65a0285a5', 100.0, datetime.datetime(2024, 9, 18, 19, 2, 58), datetime.datetime(2024, 9, 18, 19, 2, 58), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb25c9533c440f40ff7548', '6470d26b71c1e2da01fad19f', '6470d2f271c1e2da01fad2bc', 300.0, datetime.datetime(2024, 9, 18, 19, 11, 5), datetime.datetime(2024, 9, 18, 19, 11, 5), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb292505a257f9a25696a8', '63b4004ba951d03291fd2764', '63c6a044382ff90dda7f2986', 200.0, datetime.datetime(2024, 9, 18, 19, 25, 25), datetime.datetime(2024, 9, 18, 19, 25, 25), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb2a89f805b2a6da72506d', '664c57e1471e602d25fc9ee0', '663a5f2f2ce2f417b74d7697', 100.0, datetime.datetime(2024, 9, 18, 19, 31, 21), datetime.datetime(2024, 9, 18, 19, 31, 21), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb2b14533c440f40ff7a53', '66335120dfa132f1dafe050f', '65fdb76061c90b98aec67588', 500.0, datetime.datetime(2024, 9, 18, 19, 33, 40), datetime.datetime(2024, 9, 18, 19, 33, 40), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb2ba9533c440f40ff7b17', '63f375624e04c60188c762ca', '645cf34f54de07be4349e15b', 100.0, datetime.datetime(2024, 9, 18, 19, 36, 9), datetime.datetime(2024, 9, 18, 19, 36, 9), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb2c1e0624d71ccef44c00', '63c97183382ff90dda7f3f14', '63cf9501382ff90dda7f77fb', 100.0, datetime.datetime(2024, 9, 18, 19, 38, 6), datetime.datetime(2024, 9, 18, 19, 38, 6), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb2d34e33bc539d87c41cb', '66cf2d4605a257f9a2482bc3', '641af4c42f20609470e0a573', 200.0, datetime.datetime(2024, 9, 18, 19, 42, 44), datetime.datetime(2024, 9, 18, 19, 42, 44), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb2febf805b2a6da7255d2', '63b4004ba951d03291fd2764', '6446e1fac1c4665e9e7eb822', 100.0, datetime.datetime(2024, 9, 18, 19, 54, 19), datetime.datetime(2024, 9, 18, 19, 54, 19), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb31b7e33bc539d87c452b', '63c1beb4382ff90dda7f12e4', '642eac5c1274004e23d80561', 200.0, datetime.datetime(2024, 9, 18, 20, 1, 59), datetime.datetime(2024, 9, 18, 20, 1, 59), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb39cce33bc539d87c4b44', '6401e05d93d7fbc65a0284ba', '64133441297b27d6218cde77', 300.0, datetime.datetime(2024, 9, 18, 20, 36, 28), datetime.datetime(2024, 9, 18, 20, 36, 28), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb39fb824db44a5bd8a883', '64cd0914c637035f4ed4948b', '6537b75f499eeec2817c25d1', 50.0, datetime.datetime(2024, 9, 18, 20, 37, 15), datetime.datetime(2024, 9, 18, 20, 37, 15), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb3a48f805b2a6da725dab', '64be748aa493cdd2ed79a07c', '6480a62a12b30a016d0173a9', 50.0, datetime.datetime(2024, 9, 18, 20, 38, 32), datetime.datetime(2024, 9, 18, 20, 38, 32), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb3f40e33bc539d87c4e28', '6401e05d93d7fbc65a0284ba', '6627d6591d56e6f748c887d8', 100.0, datetime.datetime(2024, 9, 18, 20, 59, 44), datetime.datetime(2024, 9, 18, 20, 59, 44), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb463e05a257f9a256a962', '6401e05d93d7fbc65a0284ba', '6666f0c58afb682696b4f156', 200.0, datetime.datetime(2024, 9, 18, 21, 29, 34), datetime.datetime(2024, 9, 18, 21, 29, 34), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb508d533c440f40ff8d9e', '63b4004ba951d03291fd2764', '644c0b84e13bfbdeb197c0d7', 400.0, datetime.datetime(2024, 9, 18, 22, 13, 33), datetime.datetime(2024, 9, 18, 22, 13, 33), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]
['66eb538a0624d71ccef460a0', '64be748aa493cdd2ed79a07c', '64748e1f71c1e2da0100e31e', 200.0, datetime.datetime(2024, 9, 18, 22, 26, 18), datetime.datetime(2024, 9, 18, 22, 26, 18), datetime.datetime(2025, 5, 15, 15, 52, 51, 304000), datetime.datetime(2025, 5, 26, 13, 27, 51, 408000), 'mongodb', True, None]

In [27]:
cursor.execute("""CREATE TABLE iceberg.processed.activation (
  id VARCHAR,
  sim_id VARCHAR,
  agent_id VARCHAR,
  customer_id VARCHAR,
  mvno_id VARCHAR,
  created_at TIMESTAMP(6),
  shop_name VARCHAR,
  first_seen_date TIMESTAMP(6),
  ingestion_date TIMESTAMP(6),
  transformation_date TIMESTAMP(6),
  source_system VARCHAR,
  is_valid BOOLEAN,
  comment VARCHAR
)
COMMENT 'Activation record table for SIM activations...'
WITH (
  format = 'PARQUET',
  partitioning = ARRAY[
    'day(created_at)',  
    'shop_name'        
  ],
  location = 's3://asel/processed/activation'
)
""")
print("table activation created !")

table activation created !

In [28]:
cursor.execute("""CREATE TABLE iceberg.processed.bundle_price_history (
    bundleid VARCHAR ,
    price DOUBLE ,
    start_date TIMESTAMP(6),
    end_date TIMESTAMP(6) ,
    first_seen_date TIMESTAMP(6) ,
    ingestion_date TIMESTAMP(6) ,
    transformation_date TIMESTAMP(6),
    source_system VARCHAR ,
    is_valid BOOLEAN ,
    comment VARCHAR 
               
)
COMMENT 'Historical pricing table for bundles, capturing price changes over time using validity periods'
WITH (
    format = 'PARQUET',
    location = 's3://asel/processed/bundle_price_history'
)
""")
print("table bundle_price_history created !")

table bundle_price_history created !

In [29]:
cursor.execute("""CREATE TABLE iceberg.processed.bundles (
    id VARCHAR ,
    name VARCHAR ,
    bundleid VARCHAR ,
    data_amount_gb DOUBLE,
    voice_amount_minutes DOUBLE ,
    sms_amount INTEGER ,
    validity_days INTEGER ,
    created_at TIMESTAMP(6) ,
    first_seen_date TIMESTAMP(6) ,
    ingestion_date TIMESTAMP(6) ,
    transformation_date TIMESTAMP(6),
    source_system VARCHAR ,
    is_valid BOOLEAN ,
    comment VARCHAR 
)
COMMENT 'Table storing metadata and content definitions of asel bundles (data, voice, SMS, validity) to get the price of the bundle Join the bundle_price_history table with bundleid '
WITH (
    format = 'PARQUET',
    location = 's3://asel/processed/bundles'
)
""")
print("table bundles created !")

table bundles created !

In [30]:
cursor.execute("""CREATE TABLE iceberg.processed.customers (
    id VARCHAR ,
    
    dob TIMESTAMP(6) ,
    pob VARCHAR ,
    address VARCHAR ,
    
    arta_id DOUBLE ,
    
    cin VARCHAR ,
    cin_recto_path VARCHAR ,
    cin_verso_path VARCHAR ,
    
    city VARCHAR ,
    
    creation_date TIMESTAMP(6) ,
    
    email VARCHAR ,
    first_name VARCHAR ,
    gender VARCHAR ,
    
    issue_date TIMESTAMP(6) ,
    
    job VARCHAR,
    last_name VARCHAR ,
    
    mvno_id DOUBLE ,
    
    passport VARCHAR ,
    passport_path VARCHAR ,
    
    postal_code VARCHAR ,
    region VARCHAR ,
    first_seen_date TIMESTAMP(6) ,
    ingestion_date TIMESTAMP(6) ,
    transformation_date TIMESTAMP(6) ,
    source_system VARCHAR ,
    is_valid BOOLEAN,
    comment VARCHAR 
)
COMMENT 'Customer master data table containing personal identification and contact details'
WITH (
    format = 'PARQUET',
    location = 's3://asel/processed/customers',
    partitioning = ARRAY['bucket(id, 16)']
)
""")
print("table customers created !")

table customers created !

In [31]:
cursor.execute("""CREATE TABLE iceberg.processed.mvnos (
    id VARCHAR ,
    name VARCHAR ,
    first_seen_date TIMESTAMP(6) ,
    ingestion_date TIMESTAMP(6) ,
    transformation_date TIMESTAMP(6) ,
    source_system VARCHAR,
    is_valid BOOLEAN ,
    comment VARCHAR 
)
COMMENT 'MVNO master data table containing basic information about the mobile virtual network operator'
WITH (
    format = 'PARQUET',
    location = 's3://asel/processed/mvnos'
)
""")
print("table mvno created !")

table mvno created !

In [ ]:
cursor.execute("""CREATE TABLE iceberg.processed.paiement (
    id VARCHAR ,
    commercial_id VARCHAR ,
    franchise_id VARCHAR ,
    transaction_id VARCHAR ,
    amount DOUBLE ,
    created_at TIMESTAMP(6),
    first_seen_date TIMESTAMP(6) ,
    ingestion_date TIMESTAMP(6) ,
    transformation_date TIMESTAMP(6) ,
    source_system VARCHAR ,
    is_valid BOOLEAN ,
    comment VARCHAR 
)
COMMENT 'Paiement transaction data containing reference IDs and payment amount'
WITH (
    format = 'PARQUET',
    location = 's3://asel/processed/paiement',
    partitioning = ARRAY[
    'day(created_at)'
  ]
)
""")
print("table paiement created !")

In [32]:
cursor.execute("""CREATE TABLE iceberg.processed.portability (
    id VARCHAR ,
    sim_id VARCHAR,
    created_at TIMESTAMP(6) ,
    agent_id VARCHAR ,
    old_number VARCHAR ,
    code_rio VARCHAR ,
    current_operator VARCHAR ,
    customer_id VARCHAR ,
    mvno_id VARCHAR ,
    first_seen_date TIMESTAMP(6),
    ingestion_date TIMESTAMP(6) ,
    transformation_date TIMESTAMP(6) ,
    source_system VARCHAR,
    is_valid BOOLEAN ,
    comment VARCHAR 
)
COMMENT 'Portability request data containing SIM, customer, and operator details'
WITH (
    format = 'PARQUET',
    location = 's3://asel/processed/portability',
    partitioning = ARRAY[
    'day(created_at)'
  ]
)
""")
print("table portability created !")

table portability created !

In [33]:
cursor.execute("""CREATE TABLE iceberg.processed.sallers (
    id VARCHAR , 
    name VARCHAR ,
    role VARCHAR ,
    parent_id VARCHAR ,
    shop_name VARCHAR ,
    joined_at TIMESTAMP(6) ,
    first_seen_date TIMESTAMP(6) ,
    ingestion_date TIMESTAMP(6) ,
    transformation_date TIMESTAMP(6) ,
    source_system VARCHAR ,
    is_valid BOOLEAN ,
    comment VARCHAR 
)
COMMENT 'Saller master data table containing commercial agent identity, role, and affiliation'
WITH (
    format = 'PARQUET',
    location = 's3://asel/processed/sallers'
)
""")
print("table saller created !")

table saller created !

In [ ]:
cursor.execute("""CREATE TABLE iceberg.processed.shops (
    id VARCHAR ,
    
    name VARCHAR ,
    owner VARCHAR ,
    reseller_id VARCHAR ,
    
    latitude DOUBLE ,
    longitude DOUBLE ,
    
    adresse VARCHAR ,
    created_at VARCHAR ,

    phone VARCHAR ,
    gouvernorat VARCHAR ,
    status VARCHAR ,
    first_seen_date TIMESTAMP(6),
    ingestion_date TIMESTAMP(6) ,
    transformation_date TIMESTAMP(6) ,
    source_system VARCHAR ,
    is_valid BOOLEAN,
    comment VARCHAR 
)
COMMENT 'Shop master data containing location, ownership, and identification details'
WITH (
    format = 'PARQUET',
    location = 's3://asel/processed/shops'
)
""")
print("table shoprecord created !")

In [34]:
cursor.execute("""CREATE TABLE iceberg.processed.sims (
    id VARCHAR ,
    iccid  VARCHAR ,
    sn VARCHAR ,
    msisdn  VARCHAR ,
    imsi  VARCHAR ,
    mvno_id VARCHAR ,
    activation_date TIMESTAMP(6) ,
    customer_id VARCHAR ,          
    first_seen_date TIMESTAMP(6),
    ingestion_date TIMESTAMP(6),
    transformation_date TIMESTAMP(6),
    source_system VARCHAR,
    is_valid BOOLEAN ,
    comment VARCHAR 
)
COMMENT 'SIM card master data containing identifiers, activation info, and associations'
WITH (
    format = 'PARQUET',
    location = 's3://asel/processed/sims',
    partitioning = ARRAY['bucket(id, 16)','month(activation_date)']
)
""")
print("table sim created !")

table sim created !

In [35]:
cursor.execute("""CREATE TABLE iceberg.processed.topupbundles (
    id VARCHAR  ,
    
    retailer_id VARCHAR ,
    sim_id VARCHAR ,
    bundle_id VARCHAR ,
    
    shop_name VARCHAR ,
    mvno_id VARCHAR ,
    
    created_at TIMESTAMP(6) ,
    first_seen_date TIMESTAMP(6) ,
    ingestion_date TIMESTAMP(6) ,
    transformation_date TIMESTAMP(6) ,
    source_system VARCHAR ,
    is_valid BOOLEAN ,
    comment VARCHAR 
)
COMMENT 'Top-up bundle data including retailer, SIM, and bundle associations'
WITH (
    format = 'PARQUET',
    location = 's3://asel/processed/topupbundles',
    partitioning = ARRAY[
    'day(created_at)',
    'shop_name'
  ]
)
""")
print("table topupbundles created !")

table topupbundles created !

In [39]:
cursor.execute("""CREATE TABLE iceberg.processed.topuplights (
    id VARCHAR ,
    
    retailer_id VARCHAR ,
    sim_id VARCHAR ,
    shop_name VARCHAR,
    mvno_id VARCHAR ,
    
    created_at TIMESTAMP(6) ,
    amount DOUBLE  ,
    first_seen_date TIMESTAMP(6),
    ingestion_date TIMESTAMP(6) ,
    transformation_date TIMESTAMP(6) ,
    source_system VARCHAR ,
    is_valid BOOLEAN,
    comment VARCHAR 
)
COMMENT 'Top-up light data including retailer, SIM, amount, and shop information'
WITH (
    format = 'PARQUET',
    location = 's3://asel/processed/topuplights',
    partitioning = ARRAY[
    'day(created_at)',
    'shop_name']
)
""")
print("table topuplights created !")

table topuplights created !

In [42]:
cursor.execute("""CREATE TABLE iceberg.processed.transactions (
    id VARCHAR ,
    sender_id VARCHAR ,
    recipient_id VARCHAR,
    transaction_amount DOUBLE ,
    created_at TIMESTAMP(3) ,
    first_seen_date TIMESTAMP(3)  ,
    ingestion_date TIMESTAMP(3)  ,
    transformation_date TIMESTAMP(3) ,
    source_system VARCHAR ,
    is_valid BOOLEAN  ,
    comment VARCHAR 
)
COMMENT 'Transaction data including sender, recipient, amount, and timestamp'
WITH (
    format = 'PARQUET',
    location = 's3://asel/processed/transactions',
    partitioning = ARRAY['day(created_at)']
)
""")
print("table transactions created !")

table transactions created !

In [41]:
cursor.execute("""CREATE TABLE iceberg.processed.users (
    id VARCHAR ,
    name VARCHAR,
    joined_at TIMESTAMP(6) ,
    first_seen_date TIMESTAMP(6),
    ingestion_date TIMESTAMP(6) ,
    transformation_date TIMESTAMP(6) ,
    source_system VARCHAR,
    is_valid BOOLEAN ,
    comment VARCHAR 
)
COMMENT 'Processed user data including identity and join timestamp'
WITH (
    format = 'PARQUET',
    location = 's3://asel/processed/users'
)
""")
print("table processeduser created !")

table processeduser created !

now the final steps to processed zone will be finilised

In [ ]:
cursor.execute("""INSERT INTO processed.sallers (id, name, role, parent_id, shop_name, joined_at)
SELECT
    r.id,         
    u.name,       
    r.role,        
    r.parent_id,  
    u.shop_name,  
    u.joined_at    
FROM
    processed.users u
JOIN
    processed.roles r
    ON u.id = r.id_user
WHERE
    r.id IS NOT NULL
    AND u.id IS NOT NULL
    AND r.id NOT IN (
        SELECT id FROM processed.sallers
    );
""")
print("alimentation_applied")

In [ ]:
cursor.execute("""CREATE TABLE iceberg.processed.sallers_updated
WITH (
    format = 'PARQUET',
    location = 's3://asel/processed/sallers_updated'
)
AS
WITH RECURSIVE ShopNameLookup AS (
    SELECT id, parent_id, shop_name, id AS original_id
    FROM iceberg.processed.sallers
    WHERE shop_name IS NULL

    UNION ALL

    SELECT p.id, p.parent_id, p.shop_name, sl.original_id
    FROM ShopNameLookup sl
    JOIN iceberg.processed.sallers p ON sl.parent_id = p.id
    WHERE sl.shop_name IS NULL
),
InheritedShopNames AS (
    SELECT original_id, MAX(shop_name) AS inherited_shop_name
    FROM ShopNameLookup
    GROUP BY original_id
)
SELECT
    s.id,
    s.name,
    s.role,
    s.parent_id,
    COALESCE(s.shop_name, i.inherited_shop_name) AS shop_name,
    s.joined_at,
    s.first_seen_date,
    s.ingestion_date,
    s.transformation_date,
    s.source_system,
    s.is_valid,
    s.comment
FROM iceberg.processed.sallers s
LEFT JOIN InheritedShopNames i ON s.id = i.original_id;

""")
print("table created")